<!-- component -->
<div class="w-full bg-gray-800 h-screen">
  <div class="bg-gradient-to-b from-blue-800 to-blue-600 h-96"></div>
  <div class="max-w-5xl mx-auto px-6 sm:px-6 lg:px-8 mb-12">
    <div class="bg-gray-900 w-full shadow rounded p-8 sm:p-12 -mt-72">
      <p class="text-3xl font-bold leading-7 text-center text-white">
        Create Daily Note
      </p>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="md:flex items-center mt-12">
          <div class="w-full md:w-1/2 flex flex-col">
            <label class="font-semibold leading-none text-gray-300"
              >Title Daily Note</label
            >
            <input
              type="text"
              name="title"
              class="leading-none text-gray-50 p-3 focus:outline-none focus:border-blue-700 mt-4 border-0 bg-gray-800 rounded"
            />
          </div>
        </div>
        <div class="md:flex items-center mt-8">
          <div class="w-full flex flex-col">
            <label class="font-semibold leading-none text-gray-300"
              >Note Image</label
            >
            <input
              type="file"
              name="note_image"
              class="leading-none text-gray-50 p-3 focus:outline-none focus:border-blue-700 mt-4 border-0 bg-gray-800 rounded"
            />
          </div>
        </div>
        <div class="md:flex items-center mt-8">
          <div class="w-full flex flex-col">
            <label class="font-semibold leading-none text-gray-300"
              >Add a Background for Note
            </label>
            <input
              type="file"
              name="bacground_image"
              class="leading-none text-gray-50 p-3 focus:outline-none focus:border-blue-700 mt-4 border-0 bg-gray-800 rounded"
            />
          </div>
        </div>
        <div>
          <div class="w-full flex flex-col mt-8">
            <label class="font-semibold leading-none text-gray-300"
              >Add a Descriptions for Note</label
            >
            <textarea
              name="descriptions"
              type="text"
              class="h-40 text-base leading-none text-gray-50 p-3 focus:outline-none focus:border-blue-700 mt-4 bg-gray-800 border-0 rounded"
            ></textarea>
          </div>
        </div>
        <div class="flex items-center justify-center w-full">
          <button
            type="submit"
            class="mt-9 font-semibold leading-none text-white py-4 px-10 bg-blue-700 rounded hover:bg-blue-600 focus:ring-2 focus:ring-offset-2 focus:ring-blue-700 focus:outline-none"
          >
            Create Daily Note
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
